.form {
    text-align: center;
    padding-top: 20px;
}

.input {
    width: 500px;
    height: 60px;
    padding-left: 50px;
    border: none;
    background-color: white;
    font-size: 25px;
    box-shadow: 0 0 5px rgba(122,122,122,0.5);
}
.input:focus{
    border: none;
    background-color: white;
    font-size: 25px;
    box-shadow: 0 0 5px rgba(122,122,122,0.5);
    outline: none;
}
::placeholder {
    color: #DBD7D2;
}